.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pptx
*.html
other/
.gitignore
Assignments/a2/soln.nb.html
Assignments/a2/soln.*
Assignments/a2/soln-2022.*
Assignments/a2/nasa93*
modules/lesson-plans.md
other/Assignment 1 - Bayesian analysis Download Oct 18, 2021 545 PM/*
Assignments/dibyaA1.R
Assignments/a2/Assignment-1---Bayesian-modeling.*
Assignments/a2/Assignments.Rproj
Assignments/a2/a1.csv
modules/coding/novielli.csv
modules/coding/SOEdits.xlsx
Readings/background/stat-maturitySE.html
Assignments/a2/2022_soln.qmd
modules/godfrey-titling.key
Assignments/a1/EMSE-gender-code-review/*
*.pdf
src/datasets/*
src/stat_rethinking_2022/
*_files/
Assignments/a2/dibyaA1.R
modules/daniel-21.md
modules/lesson-plan-shorty.markdown
src/pca-ols.R
Assignments/a1-files/EMSE-gender-code-review/
mark/
modules/traceability-clone/clone-data
modules/traceability-clone/tracing-data
.obsidian

/.quarto/
_mark
modules/bayes/_extensions
modules/llm/_extensions
src/novielli-split
src/pyDSSE/.venv
Assignments/a1-files
Assignments/a2-files
_freeze
modules/AI4SE/aiforSE.qmd
modules/basics/dm_basics.qmd
modules/basics/regression.qmd
modules/bayes/bayes.qmd
modules/bayes/causal.qmd
modules/bayes/prior.qmd
modules/bayes/sampling.qmd
.gitignore
modules/early-problems/problems.qmd
modules/ethics/ethics.qmd
modules/intro/intro.qmd
modules/llm/llm-intro.qmd
modules/early-problems/early.qmd
assignments/a1_basic/data/RQ2
src/.vscode
_exams
