.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
src/
.DS_Store
*.pptx
.gitignore
Assignments/a2/soln.nb.html
Assignments/a2/soln.*
.gitignore
Assignments/a2/soln-2022.*
.gitignore
Assignments/a2/nasa93*
modules/lesson-plans.md
other/Assignment 1 - Bayesian analysis Download Oct 18, 2021 545 PM/*
Assignments/dibyaA1.R
.gitignore
Assignments/a2/Assignment-1---Bayesian-modeling.*
Assignments/a2/Assignments.Rproj
Assignments/a2/a1.csv
modules/coding/novielli.csv
modules/coding/SOEdits.xlsx
.gitignore
Readings/background/stat-maturitySE.html
Assignments/a2/2022_soln.qmd
modules/godfrey-titling.key
.gitignore
Assignments/a1/EMSE-gender-code-review/*
